<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title> Authentication </title>
</head>
<body>
<h1>Login with:</h1>
<h3 th:each="url : ${urls}" style="color: white;">
    <a th:text="${url.key}" th:href="${url.value}">Client</a>
</h3>
<a href="https://www.youtube.com/watch?v=rWEI9y6PElo">Hello</a>

<div class="container unauthenticated">
		<!-- Login with Google:<a href="/oauth2/authorization/github">Click
			here</a> -->
			
			<h3>Login with : 
				<a href="/oauth2/authorize-client/google">Google</a>
			</h3>
	</div>
</body>
</html>